a {
    text-decoration: none;
}

p, ul {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 16px;
}

.card {
    border-radius: 16px;
}